In [6]:
import pandas as pd
import json
import uuid
import datetime

In [2]:
print(datetime.datetime.now().isoformat())

2020-11-20T14:15:17.076988

In [3]:
print(datetime.date.today().isoformat())

2020-11-20

In [20]:
today = datetime.datetime.now()
print(today)

2020-11-20 12:43:25.935518

In [18]:
today = datetime.date.today()
print(today)

2020-11-20

In [24]:
dic={'day':datetime.datetime.now()}

In [23]:
dic={'day':datetime.datetime.utcnow()}

In [25]:
datetime.datetime.utcnow()

datetime.datetime(2020, 11, 20, 7, 17, 37, 350841)

In [30]:
import time
time.mktime(str(datetime.datetime.now()).timetuple())

AttributeError: 'str' object has no attribute 'timetuple'

In [29]:
import time
time.mktime(datetime.datetime.utcnow().timetuple())

1605837809.0

In [26]:
if isinstance(today, (datetime.date, datetime.datetime)):
    print(today.isoformat())

2020-11-20T12:43:25.935518

In [7]:
import numpy as np

In [7]:
usecols=['UNIT NAME',
   'PA UNIT NAME', 'UNIT ALT NAME', 'CONVERSION FORMULA',
   'CONVERSION FORMULA2', 'UNIT SYSTEM', 'UNIT TYPE']
rename_cols = {'UNIT NAME':'unit_name',
   'PA UNIT NAME':'pa_unit_name', 'UNIT ALT NAME':'unit_alt_name', 'CONVERSION FORMULA':'conversion_formula',
   'CONVERSION FORMULA2': 'conversion_formula2', 'UNIT SYSTEM' : 'unit_system', 'UNIT TYPE':'unit_type'}
df = pd.read_excel("UOM Conversions - DPL.xlsx", sheet_name='UOM',header=4,usecols=usecols)
df.rename()
df.replace({np.NAN:None},inplace=True)
print(df.columns)
print(df.head(15))
result = df.to_dict(orient='records')
print(result)

NameError: name 'np' is not defined

In [5]:
a={'A':1}
b=None
if a:
    print(a,'yes')
if b:
    print('is True')
else:
    print('is False')

{'A': 1} yes
is False

In [78]:
result.apply(lambda x:x['description']={'language':['en-us',]})

SyntaxError: lambda cannot contain assignment (<ipython-input-78-faa42c4af329>, line 1)

In [65]:
grp=df.groupby('UNIT TYPE')['UNIT NAME'].apply(list).reset_index(name='UNIT NAME')

[{'UNIT TYPE': 'CTE', 'UNIT NAME': ['1/C', '1/F']},
 {'UNIT TYPE': 'Density',
  'UNIT NAME': ['g/cm3', 'kg/cm3', 'kg/dm3', 'kg/m3', 'lb/ft3', 'lb/gal(US)']},
 {'UNIT TYPE': 'Length', 'UNIT NAME': ['in', 'feet', 'm', 'cm', 'mm']},
 {'UNIT TYPE': 'Pressure - Absolute',
  'UNIT NAME': ['bar-a',
   'atm-a',
   'inH2O@4C - a',
   'inH2O@60F -a',
   'inH2O@68F -a',
   'ftH2O@68F -a',
   'inHg@0C -a',
   'inHg@60F -a',
   'g/cm2 -a',
   'kg/cm2-a',
   'kPa-a',
   'mbar-a',
   'mH2O@4C -a',
   'mmH2O@4C -a',
   'mmH2O@60F -a',
   'mmH2O@68F -a',
   'mmHg@0C -a',
   'mmHg@60F -a',
   'Pa-a',
   'MPa-a',
   'Torr -a',
   'psia']},
 {'UNIT TYPE': 'Pressure - Differential',
  'UNIT NAME': ['bar',
   'atm',
   'inH2O@4C',
   'inH2O@60F',
   'inH2O@68F',
   'ftH2O@68F',
   'inHg@0C',
   'inHg@60F',
   'g/cm2',
   'kg/cm2',
   'kPa',
   'mbar',
   'mH2O@4C',
   'mmH2O@4C',
   'mmH2O@60F',
   'mmH2O@68F',
   'mmHg@0C',
   'mmHg@60F',
   'Pa',
   'mPA',
   'Torr',
   'psi']},
 {'UNIT TYPE': 'Pressure - Gauge',
  'UNIT NAME': ['bar-g',
   'atm-g',
   'inH2O@4C-g',
   'inH2O@60F-g',
   'inH2O@68F-g',
   'ftH2O@68F-g',
   'inHg@0C-g',
   'inHg@60F-g',
   'g/cm2-g',
   'kg/cm2-g',
   'kPa-g',
   'mbar-g',
   'mH2O@4C-g',
   'mmH2O@4C-g',
   'mmH2O@60F-g',
   'mmH2O@68F-g',
   'mmHg@0C-g',
   'mmHg@60F-g',
   'Pa-g',
   'MPa-g',
   'Torr-g',
   'psig']},
 {'UNIT TYPE': 'Temperature', 'UNIT NAME': ['C', 'F', 'K', 'R']},
 {'UNIT TYPE': 'Viscosity - Kinematic',
  'UNIT NAME': ['ft2/sec', 'cSt (mm2/sec)', 'Stokes (cm2/sec)']},
 {'UNIT TYPE': 'Volume', 'UNIT NAME': ['in3', 'ft3', 'm3', 'cm3', 'mm3']}]

In [9]:
import dotenv
dotenv.read_dotenv()

AttributeError: module 'dotenv' has no attribute 'read_dotenv'

In [19]:
b={1:'a',2:'b',3:'c',4:'d'}

In [15]:
b.pop(2)

'b'

In [18]:
[b.pop(x) for key in [2,3]]

TypeError: unhashable type: 'list'

In [81]:
from enum import Enum

In [83]:
class langu(Enum):
    RED=1
    GREEN=2

In [86]:
print(list(langu))

[<langu.RED: 1>, <langu.GREEN: 2>]

In [ ]:
grp.

In [ ]:
grp.

In [28]:
df.iloc[1,0]

'kg/cm3'

In [22]:
df.index

RangeIndex(start=0, stop=91, step=1)

In [8]:
df.head()

  UNIT NAME UNIT TYPE
0     g/cm3   Density
1    kg/cm3   Density
2    kg/dm3   Density
3     kg/m3   Density
4    lb/ft3   Density

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r'D:\MEAS\LPA\levelMeasurementPa\levelMeasurementPa\DP Level Product Advisor Logic_MVP_rev7_2020 Oct 5.xlsx', sheet_name='DiaphragmCompatibility',header=5)

In [62]:
import re
[re.sub()]

AttributeError: 'list' object has no attribute 'apply'

In [4]:
df.columns

Index(['Unnamed: 0', 'Table Contents', 'ProcessFillFluid', '316 SST',
       'Alloy C-276', 'Tantalum', '304 SST', 'Alloy 400', 'Alloy 20',
       'Alloy-B', 'Alloy 600', 'Nickel 201', 'Titanium grade 4…',
       'Zirconium 702\nZirconium 702, solid faceplate'],
      dtype='object')

In [51]:
df['Unnamed: 3'] = pd.Series(df['Unnamed: 3']).fillna(method='ffill')

In [34]:
df['Rule Logic'].fillna(method='ffill',inplace=True)

In [38]:
df.column

,Unnamed: 0,Rule Name,Rule Logic,Unnamed: 3,SealClass,Default,Restrictions,World Area,Revision
0,NaN,NaN,ConnectionStyle,Flanged,Flanged Seal,NaN,NaN,NaN,AAA
1,NaN,NaN,NaN,NaN,Extended Flanged Seal,NaN,NaN,NaN,AAA
2,NaN,NaN,NaN,NaN,Pancake Seal,NaN,NaN,NaN,AAA
3,NaN,NaN,NaN,NaN,Level Flange,NaN,NaN,NaN,AAA
4,NaN,NaN,ConnectionStyle,Threaded,Remote Threaded Seal - Female and Male Threads,NaN,NaN,NaN,AAA
5,NaN,NaN,NaN,NaN,Flush Threaded Seal - Male Threads,NaN,NaN,NaN,AAA